{% extends 'base.html' %}

{% block title %} Password Reset Complete {% endblock title %}

{% block content %}

<h1> Password Reset Successful </h1>

<p> Your password is successfully set. <a href="{% url 'login' %}"> Log In </a></p>

{% endblock %}

