{% extends 'base.html' %}

{% block title %} Email Sent {% endblock title %}

{% block content %}

<h1> Check Your Inbox </h1>

<p> We've emailed you instructions for setting your password. You should receive the email shortly. If you don't, kindly check your spam folder.</p>

{% endblock %}

