{% extends 'base.html' %}

{% block title %} Forgot Your Password {% endblock title %}

{% block content %}

<h1> Forgot Your Password </h1>

<p> Enter the email address associated with your account below and we'll mail you instructions for setting a new password</p>

<form method="POST">

	{% csrf_token %}
	
	{{ form.as_p }}

	<input class='btn btn-success' type="submit" value="Send Me Instructions">

</form>

{% endblock %}

