{% extends 'base.html' %}

{% block title %} Home {% endblock title %}

{% block content %}

<div class="jumbotron">
	
	<h1 class="display-4"> VoN's Newsaper</h1>

	<p class="lead"> A Newspaper website built with Django</p>

	<p class="lead"> <a class='btn btn-primary btn-lg' href="{% url 'article_list' %}"> See All Articles</a></p>

</div>

{% endblock %}