{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %} Create An Account {% endblock title %}

{% block content %}

<h2> Create An Account </h2>

<form method="post">

	{% csrf_token %}

	{{ form|crispy }}

<button class='btn btn-success' type='submit'> Sign Up </button> 

</form>

{% endblock %}